.buttonContainer {
    display: flex;
    justify-content: space-between; /* Spread out the buttons */
    align-items: center;
    margin: 10px;
    padding: 0; /* Remove padding if any */
}

.adjustButton, .homeButton {
    flex-grow: 1; /* Allow buttons to grow and fill the container */
    padding: 10px 15px;
    margin: 0 5px;
    border: none; /* Remove border for a flatter look */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #d0d0d0;
    text-align: center; /* Center text in buttons */
}

.homeButton {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.adjustButton:hover, .homeButton:hover {
    background-color: #0056b3;
    color: white;
}

/* Ensure the search bar and button container are aligned */
.searchForm {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.searchInput {
    width: 100%; /* Full width for search input */
    /* ... other styles */
}
